
body {
  margin: 0;
  padding: 0;
  background-color: white;
  width: 100%;
  height: 100%;
}

h1 {
  color: indigo;
  font-family: "Valera Round", sans-serif;
  font-size: 4em;
  text-align: center;

}

.container {
  position: relative;
  background-image: url("images/chalkboard.jpg");
  background-repeat: none;
  width: 85%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }


.professor {
    width: 33.666667%;
    float: left;
    margin-top: 20%;
  }

#calc-body {
  width: 65.3333%;
  float: left;
  margin-top: 5%;
}

#calculator {
  background-color: #000;
  display: inline-block;
  border-radius: 10px;
  width: 50%;
  height: inherit;
  padding: 5%;
  box-shadow: 0px 15px 10px -10px;
  transition: all ease-in-out 300ms;
}

#calculator:hover {
  box-shadow: 0px 35px 20px -20px;
  transform: translate(0px, -10px);
}

#screen {
background-color: #FEF9ED;
color: indigo;
font-family: "Valera Round", sans-serif;
height: 2em;
width: 100%;
font-size: 32px;
border-radius: 10px;
}

.buttons {
  text-align: center;
}

.button {
color: #FEF9ED;
background-color: #65676F;
font-family: "Valera Round", sans-serif;
font-size: 32px;
border-radius: 15px;
height: auto;
width: 20%;
margin: 2px 2px;
}

.operator {
background-color: #9370DB;

}
